<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4"><img class="img-fluid" src="./assets/img/imgLogo.png"></h1>
                </div>
                <form *ngIf="!isSubmit" class="user" [formGroup]="frmContrasena" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" formControlName="contrasena" placeholder="Contraseña nueva" [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }">
                    <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
                      <div *ngIf="f.contrasena.errors.required">Debe ingresar nueva contraseña</div>
                      <div *ngIf="f.contrasena.errors.minlength">Debe ingresar como mínimo 5 d&iacute;gitos</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" formControlName="contrasenar" placeholder="Confirmar contraseña" [ngClass]="{ 'is-invalid': submitted && f.contrasenar.errors }" />
                    <div *ngIf="submitted && f.contrasenar.errors" class="invalid-feedback">
                      <div *ngIf="f.contrasenar.errors.required">Debe ingresar ingresar nuevamente su nueva contraseña</div>
                      <div *ngIf="f.contrasenar.errors.minlength">Debe ingresar como mínimo 5 d&iacute;gitos</div>
                    </div>
                  </div>
                  <button [disabled]="loading" class="btn btn-primary btn-user btn-block">Restablecer contraseña</button>
                  <br />
                  <div *ngIf="error" class="alert alert-danger alert-dismissible fade show">
                    {{error}}
                  </div>
                </form>
                <div *ngIf="isSubmit">
                    <p>¡Felicidades! Ya ha completado el proceso.</p>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>